button{
	background-color: white;
	width: 70px;
	height: 50px;
	float: left;
	margin-left: 20px;
}

body{
	text-align: center;
}

#container{
	margin: 0px auto;
}

#buttonContainer{
	width: 500px;
	height: 300px;
	margin: 0px auto;
}